/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');
body {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}
h1,h2,h3 {
    font-family: "Playfair Display", serif;
}
img {
    display: block;
    height: 50%;
    width: 50%;
}
h1 {
    font-weight: 600;
}
h2 {
    font-weight: 500;
}
h3 {
    font-weight: 400;
}

/* Grid Dfns */
.ecoternatives {
    grid-area: eco;
}
.earthhero {
    grid-area: eh;
}
.ecoroots {
    grid-area: er;
}
.publicgoods {
    grid-area: pg;
}
.grove {
    grid-area: grv;
}
.dryerballs {
    grid-area: db;
}
.detergent {
    grid-area: dt;
}
.odorpods {
    grid-area: op;
}
.laundrydetergent {
    grid-area: ld;
}
.softener {
    grid-area: sf;
}
.stainremover {
    grid-area: sr;
}
.bathroomcleaner {
    grid-area: bc;
}
.soap {
    grid-area: sp;
}
.toiletcleaner {
    grid-area: tc;
}
.soapconcentrate {
    grid-area: hwc;
}
.dishwasherpods {
    grid-area: dsp;
}
.dishsoap {
    grid-area: ds;
}
.sponge {
    grid-area: spg;
}
.sandwichbags {
    grid-area: swb;
}
.garbagebags {
    grid-area: gbb;
}
.producebag {
    grid-area: pdb;
}
.veganwraps {
    grid-area: vgw;
}
.dishbrush {
    grid-area: dbr;
}

/* Tablet Grid */
@media screen and (min-width: 775px) {
    .where-to-shop {
        display: grid;
        grid-template-rows: repeat(3, 2fr);
        grid-template-areas: 
        "eco eh"
        "pg grv"
        "er . ";
        grid-gap: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;
        place-items: center;
    }
    .laundry {
        display: grid;
        grid-template-rows: repeat(3, 2fr);
        grid-template-areas: 
        "db dt"
        "ld sf"
        "op sr";
        grid-gap: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;
        place-items: center;
    }
    .bathroom {
        display: grid;
        grid-template-rows: repeat(2, 2fr);
        grid-template-areas:
        "bc sp"
        "hwc tc";
        grid-gap: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;
        place-items: center;
    }
    .kitchen {
        display: grid;
        grid-template-rows: repeat(3, 2fr);
        grid-template-areas:
        "dsp ds"
        "swb gbb"
        "vgw dbr"
        "spg pdb";
        grid-gap: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;
        place-items: center;
    }
}

/* Desktop Grid */
@media screen and (min-width: 1125px) {
    .where-to-shop {
        display: grid;
        grid-template-rows: repeat(2, 3fr);
        grid-template-areas: 
        "eco eh grv"
        "pg grv er";
        grid-gap: 3rem;
        column-gap: 1rem;
        row-gap: 1rem;
        place-items: center;
    }
    .laundry {
        display: grid;
        grid-template-rows: repeat(2, 3fr);
        grid-template-areas: 
        "db dt op"
        "ld sf sr";
        grid-gap: 3rem;
        column-gap: 1rem;
        row-gap: 1rem;
        place-items: center;
    }
    .bathroom {
        display: grid;
        grid-template-rows: repeat(2, 3fr);
        grid-template-areas:
        "bc sp hwc"
        " . tc . ";
        grid-gap: 3rem;
        column-gap: 1rem;
        row-gap: 1rem;
        place-items: center;
    }
    .kitchen {
        display: grid;
        grid-template-rows: repeat(2, 3fr);
        grid-template-areas:
        "dsp ds spg"
        "swb gbb pdb"
        " . vgw dbr";
        grid-gap: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;
        place-items: center;
    }
}