/* overall theme stuff*/
html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Libre+Franklin:wght@600&family=Pathway+Gothic+One&display=swap');

header, footer {
    background-color: #EEB1D5;
    border: solid 10px #7e8d855e;
}

header {
    font-family: 'Bangers';
    color: white;
    min-height: 100vh;
    font-size: 3vw;
    font-weight: lighter;
}

main {
    background-color: #EFC7E5; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        "t10 tt"
        "gr boty";
    padding: 30px;
    margin: auto;
    border: solid 10px #7e8d855e;
 }



 footer {
    height: 100%;
    font-family: 'Libre Franklin';
    display: flex;
    align-content: center;
 }

/* heading info */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    margin: auto;
    padding: 50px;
    max-width: 100px;
    display: block;
}

.bio {
    color: white;
    font-size: 26px;
    font-family: 'Libre Franklin';
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skip-to-link {
    border-radius: 28px;
    border: 1px solid #2e282ae6;
    color: #2e282ae6;
    font-size: 20px;
    padding: 16px 31px;
}

.skip-to-link:hover {
    background-color: #EEB1D5;
}

.skip-to-link:active {
    position: relative;
    top: 1px;
}

/* formatting for tiktok section */
.tiktok {
    border: solid 2px #2e282ae6;
    grid-area: tt;
    margin: auto;
    padding: 1rem;
    text-align: center;
}
   


.t-head {
    display: flex;
    justify-content: center;
    font-family: 'Bangers';
    font-size: 36px;
    font-weight: lighter;
}

.tt-info {
    display: block;
    justify-content: space-between;
    font-family: 'Pathway Gothic';
    font-size: 20px;
}

/* formatting for my top ten section */
.top-ten {
    border: solid 2px #2e282ae6;
    grid-area: t10;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.t10-head {
    display: flex;
    justify-content: center;
    font-family: 'Bangers';
    font-size: 36px;
    font-weight: lighter;
}

.t10-info {
    display: flex;
    flex: 1 1 30vw;
    font-family: "Pathway Gothic";
    font-size: 20px;
}

.t10-list {
    display: block;
    font-family: "Pathway Gothic";
    font-size: 20px;
    justify-content: flex-start;
    list-style: none;
}

/* formatting for my book of the year section */
.boty {
    border: solid 2px #2e282ae6;
    grid-area: boty;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.boty-head1 {
    display: flex;
    justify-content: center;
    font-family: 'Bangers';
    font-size: 36px;
    font-weight: lighter;
}

.boty-head2 {
    display: flex;
    justify-content: center;
    font-family: 'Bangers';
    font-size: 30px;
    font-weight: lighter;
}

.boty-head3 {
    display: flex;
    justify-content: center;
    font-family: 'Bangers';
    font-size: 24px;
    font-weight: lighter;
}

.boty-info {
    display: flex;
    justify-self: center;
    font-family: "Pathway Gothic";
    font-size: 20px;
}

/* formating for my goodreads section */
.goodreads {
    border: solid 2px #2e282ae6;
    grid-area: gr;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.gr-head {
    display: flex;
    justify-content: center;
    font-family: 'Bangers';
    font-size: 36px;
    font-weight: lighter;
}

.gr-info {
    display: block;
    justify-content: center;
    font-family: 'Pathway Gothic';
    font-size: 20px;
}